* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: top;
  align-items: top;
  height: 100vh;
  background-color: rgb(214, 211, 189);
}

.typing.animate {
  width: 21ch;
  border-right: 0.1em solid rgb(255, 0, 0);
  font-family: monospace;
  font-size: 2em;
  animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.typing.animate::before { 
  content: "Xin chào cậu bạn phía bên kia màn hình";
  animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@keyframes type2 {
  from {
    width: 16ch;
    content: "Cậu đang làm gì vậy "
  }
  to {
    width: 20ch;
    content: "Nhìn cậu dễ thương ghê"
  }
}

@keyframes type3 {
  from {
    width: 20ch;
    content: "đồ đường dễ thô"
  }
  to {
    width: 42ch;
    content: "bye bye nha"
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 21ch;
  }
  to {
    width: 16ch;
  }
}